<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Backbone.js Todos</title>
    <link rel="stylesheet" href="todos.css"/>

    <style>
        .completed {
            text-decoration: line-through
        }
    </style>
</head>

<body>

    <h1>Tasks</h1>

    <form id="addTask">
        <input type="text" id="title" />
        <input type="submit" value="add">
        <span id="error"></span>
    </form>
    <div id="tasks"></div>
    <p>Tasks left : <span id="count"></span></p>

    <script type='text/template' id="task-template">
        <input type="checkbox" class="toggle" <%- completed?'checked':'' %> >
        <span class="<%= completed ? 'completed':''%>">
            <%- title %>
        </span>
        <span class='delete' >[x]</span>
    </script>
    <script src="backbone/test/vendor/jquery.js"></script>
    <script src="backbone/test/vendor/underscore.js"></script>
    <script src="backbone/backbone.js"></script>
    <script src="backbone/examples/backbone.localStorage.js"></script>
    <script src="./app.js"></script>

</body>



</html>